@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
	animation-name: zoomIn;
	// animation-duration: 5s;
}


@keyframes zoomInBig {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
	}
	
	75% {
		transform: scale3d(1.4, 1.4, 1.4);
	}
}

.zoomInBig {
	animation-name: zoomInBig;
}



@keyframes zoomInBig2 {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
	}
	
	65% {
		transform: scale3d(1.6, 1.6, 1.6);
	}
}
.zoomInBig2 {
	z-index: 1;
	animation-name: zoomInBig2;
	// animation-duration: 2s;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  60% {
    opacity: 0.5;
  }
}

.fadeIn {
	animation-name: fadeIn;
	// animation-duration: 1.5s;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}


@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
}
