footer {
	padding: 15px;
	text-align: center;
	color: #b19a78;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	h2 {
		color: #b19a78;
		margin-top: 10%;
		margin-bottom: 5%;
		font-weight: normal;		
	}
	div {
		margin-top: 8% ;
		i {
			font-size: 1.25em;
			box-sizing: border-box;
			width: 1.5em;
			height: 1.5em;
			padding-top: 0.2em;
			border: solid 1px #b19a78;
			border-radius: 50%;
			margin: 0.1em;
		}
	}
}