@import "text";
@import "layout";
@import "banner";
@import "content";
@import "products";
@import "footer";
@import "ani";

.note {
	color: #aeaeae;
	font-size: 12px;
	margin-top: 15px;
	font-style: italic;
}